<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  </head>
  <body>
    <section>
      <h1>Todo App</h1>
      <form method="post" action="{% url 'add_todo'%}">
        {% csrf_token %}
        <div>
          <label for="todo_title">What's next?</label>
          <br>
          <input type="text" name="todo_title" placeholder="Enter your title here ..." id="todo_title" >
          <br>
          <label for="todo_status">Status</label>
          <br>
          <select name="status" id="todo_status">
            {% for s in todo_status %}
            <option value="{{s.status_name}}">{{s.status_name}}</option>
            {% endfor %}
          </select>
          <br>
          <label for="todo_responsible">Who's responsible for it?</label>
          <br>
          <select name="responsible" id="todo_responsible">
            {% for r in todo_responsible %}
            <option value="{{r.emp_name}}">{{r.emp_name}}</option>
            {% endfor %}
          </select>
          <br>
          <label for="todo_description">Task description</label>
          <br>
          <textarea id="todo_description" name="todo_description" rows="5" cols="50" placeholder="S.M.A.R.T"></textarea>
        </div>
        <button>Submit</button>
      </form>
      <br>
    </section>
    <br>
    <section>
      <h1>Todo List</h1>
      <div>
        <table>
          <thead>
            <tr>
              <th colspan="5">Task List</th>
            </tr>
            <tr>
              <td>Asigned to</td>
              <td>To Do</td>
              <td>Status</td>
              <td>Created at</td>
              <td>Updated at</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for todo in todo_list %}
            <tr>
              <td>{{todo.responsible}}</td>
              <td></td>
              <td>{{todo.status}}</td>
              <td>{{todo.created_at}}</td>
              <td>{{todo.updated_at}}</td>
              <td><input type="checkbox" id="completed"><label for="completed">Done!</label></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
      </div>
    </section>
    <footer>
      <a href="/">Main Page</a>
    </footer>
  </body>
</html>