
body {
  background-color: #FEE8D6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

section {
  background-color: #F8D7DA;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  color: #B94A48;
  text-align: center;
}

form, table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"], textarea, select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #B94A48;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #F8D7DA;
  color: #B94A48;
}

a {
  color: #B94A48;
  text-decoration: none;
}
