<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate a random password!</title>
	<!-- Add additional CSS in static file -->
	  
	  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
</head>

<body>

<h1>Password Generator</h1>

<form action="{% url 'genpswd' %}">
	<select name="lenght">
		<option value ="6">6</option>
		<option value ="7">7</option>
		<option value = "8">8</option>
		<option value = "9">9</option>
		<option value = "10">10</option>
		<option value = "11">11</option>
		<option value = "12"selected = "selected">12</option>
		<option value = "13">13</option>
		<option value = "14">14</option>
	</select>
	<br>
	<input type="checkbox" name="uppercase">Uppercase
	<br>
	<input type="checkbox" name="numbers">Numbers
	<br>
	<input type="checkbox" name="special">Special Characters
	<br>

	<input type="submit" value = "Generate password">
</form>

</body>
</html>
